<ul>
  {{#each this}}
  <li>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{name}}">
    <div>{{name}}</div>
    <div>{{genre_ids}} | {{first_air_date}} </div>
  </li>
  {{/each}}
</ul>