
    <!-- Container: Main-item -->
    <section class="main-item">
      <div class="container">
        <div class="cart">

          <div class="cart__image">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}">
          </div>

          <div class="cart-content">
          <div class="cart__name">
            <h3>{{title}}</h3>
          </div>

          
          <ul class="param">
            <li class="param__item">
              <div class="param-name">
                <span class="param__item-name">
                  Vote / Votes
                </span>
              </div>

              <div class="param__value">
                <span class="param__item-value">
                  <span class="param__item-value--orange">{{vote_average}}</span>
                  /
                  <span class="param__item-value--grey">1260</span>
                </span>
              </div>
            </li>

            <li class="param__item">
              <div class="param-name">
                <span class="param__item-name">
                  Popularity
                </span>
                </div>
                <div class="param__value">
              <span class="param__item-value">
                {{popularity}}
              </span>
              </div>
            </li>

            <li class="param__item">
              <div class="param-name">
                <span class="param__item-name">
                  Original Title
                </span>
                </div>
                <div class="param__value">
              <span class="param__item-value">
                {{original_title}}
              </span>
              </div>
            </li>

            <li class="param__item">
              <div class="param-name">
                <span class="param__item-name">
                  Genre
                </span>
              </div>
              <div class="param__value">
              {{#each genres}}
              <span class="param__item-value">
                {{this.name}}
              </span>
              {{/each}}
              </div>
            </li>
          </ul>

          <div class="cart-description">
            <h2>About</h2>
            <p>Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
          </div>

          <div class="cart-buttons" id="{{id}}">
            <button class="btn btn-watch">Add to watched</button>
            <button class="btn btn-queue">Add to queue</button>
          </div>
        </div>
        </div>
        
      </div>
    </section>
