<section class="films">
      <div class="container">
        <ul class="films__list">

{{#each this}}


<li class="films__item">
    <img class="films__img" id="{{id}}" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{name}}">
    <p class="films__title">{{original_title}}{{name}}</p>
    {{#each genres}}
    <span class="films__text">{{this.name}} {{/each}}| {{first_air_date}}<span class="films__rating">{{vote_average}}</span></span>
</li>


{{/each}}

</ul>
    </section>